configuration{
  modi: "combi,run,window,drun";
  combi-modi: "drun,run,window";
  icon-theme: "Oranchelo";
  show-icons: true;
  terminal: "alacritty";
  drun-display-format: "{name} {icon}";
  location: 0;
  disable-history: false;
  hide-scrollbar: true;
  display-combi: "All";
  display-run: "Run";
  display-drun: "D-Run";
  display-window: "Window";
  sidebar-mode: true;
  drun {
     scan-desktop: true;
     parse-user:   true;
     parse-system: true;
  }
}

@theme "nord"
